
.sortTitle{

    height: 60px;
    padding-top: 5px;
    margin-bottom: 2%;
    background-color: #282c34;
    color: #61dafb;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


